'Разработка

'Разработка сайтов, веб-приложений различной степени сложности под ключ.


'Управление

'Управление процессом разработки интернет-проектов от начала до конца

'Партнерство

'Участие в интересных веб-проектах в качестве разработчика или менеджера.



http://ibrig.ru/
http://programmer-web.ru/#/portfolio
