@import "bootstrap/bootstrap.css"
@import "bootstrap/bootstrap-theme.min.css"
@import "font-awesome/font-awesome"
@import "http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic'"
@import "tales/styles-bluegreen.css"

@import "articles"

.widewrapper 
  &.masthead
    padding-top: 20px
    padding-bottom: 20px
    .page-logo
      margin: 0
      padding-top: 5px
