.article-index
  article
    header
      img
        height: 183px
        width: 183px

  .blog-aside
    padding-top: 36px
    .aside-widget
      margin-bottom: 30px
.article-show
  article.blog-post
    header
      img.img-responsive
        width: 740px
        height: 280px


.tags
  li
    a
      &.active
        border: 1px solid #b2b7bb
        background-color: #cdcdcd
        &:hover
          background-color: #c1d2e1